# Internal URL of the Nextcloud backend that API routes proxy to.
# When running inside docker on the shared nextcloud_nextcloud_network,
# the default "http://nextcloud:80" resolves to the Nextcloud service.
NEXTCLOUD_INTERNAL_URL=http://nextcloud:80
